@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #f8fafc;
}

/* Corrige inputs escuros */
input,
textarea,
select {
  background-color: white !important;
  color: #0f172a !important;
  caret-color: #0f172a !important;
}

input::placeholder,
textarea::placeholder {
  color: #94a3b8 !important;
}

* {
  box-sizing: border-box;
}